<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>약꾸기’s planning</title>
    <link rel="stylesheet" href="static/audio.css?v=1.1">
    <!-- FullCalendar의 CSS 및 JavaScript 라이브러리 -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>
    <script src="static/audio.js?v=1.1" defer></script>
</head>
<body>
    <h1>약꾸기’s planning</h1>
    <div id='calendar'></div>
    <button id="recordButton">Start Recording</button>

    <p id="transcriptionResult">No transcription yet.</p>
    <button id="confirmButton">확인</button>
</body>
</html>